body ::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

div .csl-entry {
  margin-bottom: .3em;
  font-size: .85em;
}

.column-code {
  font-size: .65em;
}

.cell-output-stdout {
  margin-top: 8px;
  font-size: .88em;
}

.cell-output-display {
  margin-top: 8px;
  font-size: .45em;
}

.callout {
  background-color: white;
}

/*-- used for callouts with code --*/
.callout-tip {
  padding: 0 !important;
  border: 0 !important;
  
}

.reveal div.sourceCode pre code {
  max-height: 680px;
}


/*-- scss:defaults --*/
